<% @sidebar = true %>

<h1>Number of Simulations <%= @number_of_simulations %></h1>

<div class="contracts-container">
  <div class="contract-simulation-header text-center">
    <div class="contract-running">
      <%= render "shared/contract" %>
      <h2>In production for <strong><%=2 %> day</strong></h2>
    </div>
    <div class="contract-energy">
      <%= render "shared/bulb" %>
      <h2>Produced <strong><%= 1 %> day of lighting</strong></h2>
    </div>
    <div class="contract-trees">
      <%= render "shared/tree" %>
      <h2>Saved <strong><%= 2 %> % of a tree</strong></h2>
    </div>
  </div>
  <div class="contract-simulation-body">

    <div class="pie-container">
      <div class="pie">
        <div class="slice-right"></div>
        <div class="slice-left"></div>
        <div class="percent">
          <div class="number">49%</div>
        </div>
      </div>
      <h4>of the energy you consume</h4><h3><strong>is being produced locally</strong></h3>
    </div>
  </div>

</div>
</div>
