<% @sidebar = true %>

<h1>Number of Simulations <%= @number_of_simulations %></h1>

<div class="contracts-container">
  <div class="contract-simulation-header text-center">
    <div class="contract-running">
      <%= render "shared/contract" %>
      <h2>In production for <strong><%=3600.round %> hours</strong></h2>
    </div>
    <div class="contract-energy">
      <%= render "shared/bulb" %>
      <h2>Producing <strong><%= 3 %> week of lighting</strong></h2>
    </div>
    <div class="contract-trees">
      <%= render "shared/tree" %>
      <h2>Saving <strong><%= 3 %> trees</strong></h2>
    </div>
  </div>
  <div class="contract-simulation-body">

    <div class="pie-container">
      <div class="pie">
        <div class="slice-right"></div>
        <div class="slice-left"></div>
        <div class="percent">
          <div class="number">49%</div>
        </div>
      </div>
      <h4>Of the energy you consume</h4><h3><strong>Is being produced locally</strong></h3>
      <div class="col-xs-12 text-center">
        <%= link_to("What impact for my neighborhood?", dashboard_neighbour_path, class: "navbar-wagon-button-orange" )%>
      </div>
    </div>
  </div>

</div>
</div>
