<% current_user.solar_panel.contracts.each do |contract| %>
  <div class="card-neighbour">
    <div class="card-neighbour-infos">
      <% if contract.user.facebook_picture_url.nil?%>
      <%= image_tag "avatar.png", class: "avatar-large" %>
      <% else %>
      <%= image_tag contract.user.facebook_picture_url, class: "avatar-large"%>
      <% end %>
      <div class="card-neighbour-name">
        <h3><%= contract.user.first_name.capitalize %></h3>
        <p><%= contract.user.address %></p>
        <p><span class="badge badge-danger">Active</span></p>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.solar_panel.contracts.empty? %>
  <div class="card-dashboard text-center">
    <h3>Welcome <strong><%= current_user.first_name.capitalize %></strong>, you have no contract at the moment</h3>
    <br>
  </div>
<% end %>

