<div class="row profile">
  <div class="profile-content">
    <h2 class="text-center">You are consuming excess energy from your neighbours</h2>
    <br>
    <div class="contract-table-wrapper">
      <% unless current_user.contracts.nil? %>
      <div class="row contract-table">
        <% current_user.contracts.each do |contract| %>
        <% next unless contract.end_date.nil? %>
        <div class="card contract-table-item clearfix">
          <div class="col-xs-2 text-center">
           <div class="profile-userpic text-center">
            <% if contract.solar_panel.user.facebook_picture_url.nil?%>
            <%= image_tag "avatar.png", class: "avatar-large" %>
            <% else %>
            <%= image_tag contract.solar_panel.user.facebook_picture_url, class: "avatar-large"%>
            <% end %>
          </div>
        </div>
        <div class="col-xs-5 text-center"><%= contract.solar_panel.user.first_name.capitalize %></div>
        <div class="col-xs-5 text-center"><%= link_to("See it!", contract_path(contract))%></div>
      </div>
      <% end %>
    </div>
    <% end %>
    <%=  link_to "Get more from someone else", solar_panels_path, class: "navbar-wagon-button-orange"  %>
  </div>
</div>
</div>

