<div class="row profile">
  <div class="profile-content">
    <h2 class="text-center">MY CONTRACTS: </h2>

    <div class="contract-table-wrapper">
      <% unless current_user.contracts.nil? %>
        <div class="row contract-table-headers">
          <div class="col-xs-4 text-center">Contract</div>
          <div class="col-xs-4 text-center">Panel Owner</div>
          <div class="col-xs-4 text-center">Options</div>
        </div>
        <div class="row contract-table">
        <% current_user.contracts.each do |contract| %>
          <% next unless contract.end_date.nil? %>
            <div class="card contract-table-item clearfix">
              <div class="col-xs-4 text-center">Contract <%= contract.id%></div>
              <div class="col-xs-4 text-center"><%= contract.solar_panel.user.first_name.capitalize + " " + contract.solar_panel.user.last_name.capitalize %></div>
              <div class="col-xs-4 text-center"><%= link_to "See Details", contract_path(contract) %> | <%= link_to "Invoices", "#" %></div>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>
    <%= link_to "View terminated contracts", current_user_contracts_terminated_path, class: "navbar-wagon-link" %>

  </div>
</div>
