<div class="row profile">
  <div class="profile-content">
    <div class="text-center card">
    <h2 class=title>Contract Details</h2>
    <li>Seller: <%= @solar_panel.user.first_name.capitalize + " " + @solar_panel.user.last_name.capitalize %></li>
    <li>Buyer: <%= current_user.first_name + " " + current_user.last_name %></li>
    <li>Price/Sol: <%= @solar_panel.price %></li>
    <%= link_to 'Sign Contract', solar_panel_contracts_path, :method => :post, class: "navbar-wagon-button-orange"%>
    </div>
  </div>
</div>

<%= link_to "Back", user_my_panels_path, class: "navbar-wagon-button-orange back-btn" %>
