<div class="row profile">
  <div class="profile-content">
    <div class="text-center card">
    <h2 class=title>Contract Details</h2>
    <li class="contracts">Seller: <%= @solar_panel.user.first_name.capitalize + " " + @solar_panel.user.last_name.capitalize %></li>
    <li class="contracts">Buyer: <%= current_user.first_name + " " + current_user.last_name %></li>
    <li class="contracts">Price/Sol: <%= @solar_panel.price %></li>
    <%= link_to 'Sign Contract', contracts_path, :method => :post, class: "navbar-wagon-button"%>
    </div>
  </div>
</div>

<%= link_to "Back", my_panel_path, class: "navbar-wagon-button back-btn" %>
