
<div class="row profile">
  <div class="text-center">
    <h2 class="text-center"><%= t('.title') %></h2>
    <div class="contract-details-wrapper">

      <div class="col-sm-4 col-sm-offset-4 card">
        <h3 class="contract-details-title"><%= t('.agreement') %><div class="orange-text"><%= @solar_panel.user.first_name.capitalize%></div></h3>

        <div class="row">
          <div class="col-xs-6 text-left"><%= t('.producer') %></div>
          <b class="col-xs-6 text-center orange-text"><%= @solar_panel.user.first_name.capitalize %></b>
        </div>

        <div class="row">
          <div class="col-xs-6 text-left"><%= t('.consumer') %></div>
          <b class="col-xs-6 text-center orange-text"><%= current_user.first_name %></li></b>
        </div>

        <div class="row">
          <div class="col-xs-6 text-left"><%= t('.price') %></div>
          <b class="col-xs-6 text-center orange-text">$0.12 (grid) - $<%= @solar_panel.price %> / Kwh</b>
        </div>

        <br><br>

        <%= link_to(t('.link1'), solar_panel_contracts_path, method: :post, class: "navbar-wagon-button-orange")%>
      </div>

    </div>

  </div>
</div>


<%= link_to(t('.link2'), user_my_panels_path, class: "navbar-wagon-button-orange back-btn") %>

