<% @sidebar = true %>

<div class="contracts-container">
  <div class="contract-simulation-header text-center">
    <div class="contract-running">
      <%= render "shared/contract" %>
      <h2>Running for <strong><span id="days-running">0</span> days</strong></h2>
    </div>
    <div class="contract-energy">
      <%= render "shared/bulb" %>
      <h2>Consuming <strong><span id="lighting-weeks">0</span> week of lighting</strong></h2>
    </div>
    <div class="contract-trees">
      <%= render "shared/tree" %>
      <h2>Saving <strong><span id="trees-saved">0</span> trees</strong></h2>
    </div>
  </div>
  <div class="contract-simulation-body">

  </div>
</div>

<% if !@contract.transactions.any? %>
<div class="trade-container text-center">
  <h1>Transactions</h1>
  <%= link_to "Start Trading", start_path(@contract), remote: true, method: :post, class: "navbar-wagon-button-orange", id: "start-transaction-btn" %>
  <div id="transactions">

  </div>

</div>

<% else %>

  <div class="col-xs-12 card">
    <div id="simulation-done-graph" data-points="<%= @graph_points.to_json %>" style="height: 300px; width:100%;">
    </div>
  </div>

  <div class="transaction-container col-xs-12 card text-center">
    <div>
      <div class="transaction-header">
        <span class="transaction-time col-xs-4">Time</span>
        <span class="transaction-from col-xs-4">From</span>
        <span class="transaction-amount col-xs-4">Amount(kWh)</span>
      </div>
      <ul class="listed-transactions text-center">
        <% @transactions.each do |transaction| %>
          <li class="transaction-line" id="transaction-<%= transaction.id %>">
            <span class="col-xs-4 text-center"><%= transaction.date %> <%= transaction.time %></span>
            <span class="col-xs-4 text-center"><%= transaction.contract.solar_panel.user.first_name %></span>
            <span class="col-xs-4 text-center"><%= transaction.excess %></span>
          </li>
        <% end %>
      </ul>
      <div class="transaction-summary">
        <span class="text-center col-xs-4">Total energy received</span>
        <span class="col-xs-4"></span>
        <span class="orange-text text-center col-xs-4" id="total-transfer"><%= @cum_transfer %></span>
      </div>
    </div>
  </div>

<% end %>
