<h1>Contract Details</h1>

<h3>ContractID: <%= @contract.id %></h3>

<ul>
  <li>Seller: <%= @contract.solar_panel.user.first_name.capitalize + " " + @contract.solar_panel.user.last_name.capitalize %></li>
  <li>Buyer: <%= @contract.user.first_name.capitalize + " " + @contract.user.last_name.capitalize %></li>
  <li>Price: <%= @contract.solar_panel.price %></li>
  <li>Start-Date: <%= @contract.start_date %></li>

  <% if @contract.end_date %>
    <li>End-Date_ <%= @contract.end_date %></li>
  <% end %>

</ul>

<% if @contract.end_date %>
  <%= link_to 'Back', current_user_contracts_terminated_path, class: "btn btn-default" %>
<% else %>
  <%= link_to "Cancel Contract", contract_terminate_current_user_index_path(@contract), :method => :patch, class: "btn btn-default"  %>
  <%= link_to 'Back', user_dashboard_path, class: "navbar-wagon-button back-btn" %>
<% end %>




