
<!-- SIDEBAR -->
<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="text-center">
           <% if current_user.facebook_picture_url.nil?%>
            <%= image_tag "avatar.png", class: "avatar-large" %>
          <% else %>
          <%= image_tag current_user.facebook_picture_url, class: "avatar-large"%>
        <% end %>
        </div>

        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= current_user.first_name %>
          </div>
          <div class="user-city">
            <p><%= current_user.address %></p>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <!-- <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div> -->
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li>
              <%= link_to "Solar panels around me", user_solar_panels_path %>
            </li>
            <li>
              <%= link_to "My solar panels", user_my_panels_path%>
            </li>
            <li>
              <%= link_to "Create new panel", new_solar_panel_path%>
            </li>
            <li>
              <%= link_to "Terminated Contracts", current_user_contracts_terminated_path%>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <h2 class=title>MY CONTRACTS</h2>
        <% current_user.contracts.each do |contract| %>
        <% next unless contract.end_date.nil? %>
        <li class="contracts">Contract <%= contract.id%>:  You purchase energy from <%= contract.solar_panel.user.email %> <%= link_to "See Details", contract_path(contract)  %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
