<aside id="sidebar" class="col-xs-12 col-sm-3 col-md-2">
  <div class="">
    <div class="profile-sidebar">
    <!-- TRANSLATION LINKS -->
    <% if I18n.locale == I18n.default_locale %>
    <%= link_to image_tag("portugal.jpg", class: "flag"), :locale=>'pt'%>
    <% else %>
    <%= link_to image_tag("unitedkingdom.jpg", class: "flag"), :locale=>'en'%>
    <% end %>

      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic text-center">
        <% if current_user.facebook_picture_url.nil?%>
        <%= image_tag "avatar.png", class: "avatar-large" %>
        <% else %>
        <%= image_tag current_user.facebook_picture_url, class: "avatar-large"%>
        <% end %>
      </div>
      <!-- END SIDEBAR USERPIC -->

      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <%= current_user.first_name.capitalize %>
        </div>
        <div class="user-city">
          <p><%= current_user.address %></p>
        </div>
        <div class="">

          <%= link_to(t('shared.sidebar.edit'), edit_user_registration_path, class: "navbar-wagon-link") %>&nbsp;|
          <%= link_to t(".sign_out", default: "Log out"), destroy_user_session_path, method: :delete, class: "navbar-wagon-link" %>
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->

      <!-- SIDEBAR MENU -->
      <div>
        <ul class="profile-usermenu">
          <li class="profile-usermenu-item">
            <%= link_to("My dashboard", contracts_path )%>
          </li>
          <li class="profile-usermenu-item">
            <%= link_to("My impact", "#") %>
          </li>
          <li class="profile-usermenu-item">
            <%= link_to("My neighborhood impact", dashboard_path) %>
          </li>
        </ul>
      </div>
      <!-- END MENU -->
    </div>
  </div>

  <div class="text-center sidebar-bottom-button-grp">
    <div><%= link_to(t('shared.sidebar.link_back'), root_path, class: "navbar-wagon-link-blue" )%></div>
    <div><%= link_to(t('shared.sidebar.produce_energy'), new_solar_panel_path, class: "navbar-wagon-button-orange")%></div>
  </div>

</aside>
