<aside id="sidebar" class="col-xs-12 col-sm-3 col-md-2">
  <div class="">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic text-center">
        <% if current_user.facebook_picture_url.nil?%>
          <%= image_tag "avatar.png", class: "avatar-large" %>
        <% else %>
          <%= image_tag current_user.facebook_picture_url, class: "avatar-large"%>
        <% end %>
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <%= current_user.first_name.capitalize %>
        </div>
        <div class="user-city">
          <p><%= current_user.address %></p>
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->


      <!-- SIDEBAR MENU -->
      <div>
        <ul class="profile-usermenu">
          <li class="profile-usermenu-item">
            <%= link_to "Solar panels around me", user_solar_panels_path %>
          </li>
          <li class="profile-usermenu-item">
            <%= link_to "My solar panels", user_my_panels_path%>
          </li>
          <li class="profile-usermenu-item">
            <%= link_to "Create new panel", new_solar_panel_path%>
          </li>
          <li class="profile-usermenu-item">
            <%= link_to "Terminated Contracts", current_user_contracts_terminated_path%>
          </li>
        </ul>
      </div>
        <!-- END MENU -->
    </div>
  </div>

  <div class="text-center sidebar-bottom-button-grp">
    <%= link_to destroy_user_session_path, method: :delete, class: "sidebar-signout-btn" do %>
      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>
  </div>

</aside>
