  <div class="funnel-container">
  <div class="container max-height">
    <div class="row">
      <div class="card funnel-info text-center col-xs-12">
        <h3>Your neighbourhood has already 25 participants!</h3>
      </div>
      <div class="row map-container">
        <div class="col-xs-12 col-md-6">
          <div class="col-xs-12 col-md-6">
            <div class="card funnel-info text-center">
              <p>I am renting here or I cannot easily set up solar pannels</p>

              <p>Yet, I want to consume local solar energy</p>
              <br>
              <%= link_to 'Sign up as a consumer', new_user_registration_path, class: "navbar-wagon-button-orange" %>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card funnel-info text-center">
              <p>I want solar panels and consume my own energy</p>
              <p>I want to share my excess of energy localy</p>
              <br>
              <%= link_to 'Sign up as a producer', new_user_registration_path, class: "navbar-wagon-button-orange" %>
            </div>
          </div>
        </div>
        <div class="no-padding col-xs-12 col-sm-8 col-sm-offset-1 col-md-5  box-shadow">
          <div id="map" style="width: 100%; height: 500px;">
          </div>
        </div>

        <!-- marker are defined in application helper -->
        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ provider: { scrollwheel: false, zoomControl: false, mapTypeId: 'satellite' }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw producer_markers.to_json %>   );
        markers2 = handler.addMarkers(<%= raw consumer_markers.to_json %>   );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.map.centerOn([38.736946, -9.142685]);
      }
      else if (markers.length == 1) {
      handler.getMap().setZoom(20);
    }
  });
});
<% end %>
<% end %>
</div>
</div>
