<div class="funnel-container">
  <div class="container max-height">
    <div class="row map-container">
      <div class="col-md-4">
        <div class="card funnel-info">
          <h3>We selected for you the best current offer in your neighbourhood</h3>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card funnel-info">
          <div class="profile-userpic text-center">
            <% if @best_panel.user.facebook_picture_url.nil?%>
            <%= image_tag "avatar.png", class: "avatar-large" %>
            <% else %>
            <%= image_tag @best_panel.user.facebook_picture_url, class: "avatar-large"%>
            <% end %>
          </div>
          <div class="content">
          </div>

          <div class="content text-center">
            <div class="card-content-container ">
              <p>Hello, i'm <%= @best_panel.user.first_name %>, </p>
              <p>I have installed solar panels on my roof, and happily consume my own clean energy.</p>
              <p>I have surplus from time to time... Would you like to share it with me?</p>
              <h3>Grid price: 0,15cent/kWh</h3>
              <h3><%= @best_panel.user.first_name %> offer: 0,14cent/kWh </h3>
            </div>
          </div>
          <div class="content text-center">
            <%= link_to "Sounds good", "#{contracts_path(@contract)}?sp_id=#{@solar_panel.id}", {method: :post, class: "navbar-wagon-item navbar-wagon-button-orange"} %>
            <br>
            <br>
            <%= link_to 'See more offers', located_solar_panels_path, class: "navbar-wagon-button-orange" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
