<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="join-us">
        <div class="join-us-content">
          <h3>Already <strong><%= @participants %> participants</strong> in your neighborhood!</h3>
          <%= link_to 'Join the experiment', new_user_registration_path, class: "navbar-wagon-button-orange" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    <div id="map" style="width: 100%; height: 500px;"></div>
    <div class="map-legend">
      <ul class="list-inline">
        <li><%= image_tag "producer_label.png", width: "25px" %> producer</li>
        <li><%= image_tag "consumer_label.png", width: "25px" %> consumer</li>
      </ul>
    </div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
      $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false, zoomControl: false, mapTypeId: 'roadmap'  }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw producer_markers.to_json %>);
        markers2 = handler.addMarkers(<%= raw consumer_markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.map.centerOn([38.736946, -9.142685]);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(20);
        }
      });
      });
      <% end %>
    <% end %>
    </div>
  </div>
</div>


<% if false %>


<div class="funnel-container">
  <div class="container max-height">
    <div class="row">
      <div class="card funnel-info text-center col-xs-12">

        <h3>Sharing Solar Energy Locally among neighbours</h3>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="card funnel-info text-center">
          <h3>Real life tests are happening!</h3>
          <p>Several peer-to-peer experimenttion exist already:</p>
          <p>In France: Hackpad, CItizenWatt,  Solar Coin</p>
          <p>UK Open Energy Monitorp</p>
          <p>Andorra (Electricity Chain)</p>
          <p>USA (Grid Singularity, Brooklyn MicroGrid, Electricity Chain)</p>
          <h3>Why not experiment this here?</h3>
          <%= link_to 'Join my neighbours', new_user_registration_path, class: "navbar-wagon-button-orange" %>
        </div>
      </div>
      <div class="no-padding col-xs-12 col-sm-8 col-sm-offset-1 col-md-5  box-shadow">
        <div class="card funnel-info text-center">
          <h3>Your neighbourhood has already <%= @participants %> participants!</h3>
          <div id="map" style="width: 100%; height: 500px;">
          </div>
        </div>
        <!-- marker are defined in application helper -->

</div>


<% end %>
