
<div class="card funnel-info"><h1>The best offer!</h1>
  <div class="profile-userpic text-center">
    <% if @best_panel.user.facebook_picture_url.nil?%>
    <%= image_tag "avatar.png", class: "avatar-large" %>
    <% else %>
    <%= image_tag @best_panel.user.facebook_picture_url, class: "avatar-large"%>
    <% end %>
  </div>
  <div class="content">
  </div>

  <div class="content text-center">

    <div class="card-content-container ">
      <p>Hello, i'm <%= @best_panel.user.first_name %>, </p>
      <p>I have installed solar panels on my roof, and happily consume my own energy.</p>
      <p>I have surplus Solar Energy. Would you like to share it?</p>
    </div>
    <%= link_to 'Sounds good!', solar_panel_path(@best_panel), class: "navbar-wagon-button-orange" %>
    <br>
    <br>
    <%= link_to 'See more offers', located_solar_panels_path, class: "navbar-wagon-button-orange" %>
  </div>


</div>
