<div class="video-container">
  <div class="splash-page-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <h2 class="text-center">Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "splash-page-box-btn" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>

  <video poster="http://www.solarcity.com/sites/all/themes/solarcity/img/video-bg-poster.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="http://www.solarcity.com/sites/all/themes/solarcity/video/video-bg.mp4">
  </video>
</div>
