
<% if current_user.address.nil? %>
  <p class="alert">Please add your address to your profile &nbsp;<button class="add-address-button navbar-wagon-item navbar-wagon-button" type="submit">Add Address</button></p>

      <div class="address-pop-up hidden" ">
      <div class="row">
      <div class="card text-center col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

       <%= simple_form_for @user, url: {action: "addUserAddress"} do |f| %>
      <div class="form-inputs text-left card-content-container">
        <%= f.input :address, autofocus: true, placeholder: "Address"%>
        <div class="form-actions text-center">
          <%= f.submit value: "Save Address", class: "navbar-wagon-item navbar-wagon-button" %>
        </div>
      </div>
      <% end %>

      </div>
      </div>
      </div>


<% else %>


  <% if @solar_panels.empty? %>
    <div class="row">
      <div class="card text-center col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h4>No one is selling on your street</h3>
      </div>
    </div>
  <% end %>
  <% if current_user.address %>
    <% @solar_panels.each do |solar_panel| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="text-center">
            <% if solar_panel.user.facebook_picture_url %>
                <%= image_tag solar_panel.user.facebook_picture_url, class: "avatar-large" %>
            <% else %>
              <%= image_tag "avatar.png", {alt: "avatar img",class: "avatar-large"} %>
            <% end %>
          </div>
          <hr>
          <div class="card-content-container text-left">
            <p><b>Owner :</b>&nbsp;<span><%= solar_panel.user.first_name.capitalize + " " + solar_panel.user.last_name.capitalize %></span></p>
            <p><b>Address :</b>&nbsp;<span><%= solar_panel.address %></span></p>
            <p><b>Production :</b>&nbsp;<span><%= solar_panel.size || 0 %></span>&nbsp;sol/hour</p>
            <p><b>Price :</b>&nbsp;<span>$<%= solar_panel.price || 0 %>/sol</span></p>
          </div>
          <hr>
          <div class="text-center">
            <%= link_to "Details", show_solar_panel_path(solar_panel), class: "navbar-wagon-button" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<%= link_to "Back", user_dashboard_path, class: "navbar-wagon-button back-btn" %>

