  <% if current_user.nil? %>
    <% address = params[:street] %>
  <% else %>
    <% address = current_user.address %>
  <% end %>

  <% if address.nil? %>
    <%= render "shared/address_check" %>

  <% else %>
    <h2 class="text-center"><%=t('.title')%></h2>
    <br>
    <% if @solar_panels.empty? %>
        <div class="row">
          <div class="card text-center col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h4><%=t('.no_solar_prod')%></h4>
            <%= link_to(t('request_producers'), root_path, class: "navbar-wagon-button-orange back-btn")%>
          </div>
        </div>
    <% else %>

      <div class="row map-container">
        <div class="no-padding col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 box-shadow">
          <div id="map" style="width: 100%; height: 300px;">
          </div>
        </div>
      </div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ provider: { scrollwheel: false, zoomControl: false, mapTypeId: 'satellite' }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>   );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.map.centerOn([38.736946, -9.142685]);
        } else if (markers.length == 1) {
        handler.getMap().setZoom(20);
        }
        });
        });
        <% end %>
      <% end %>

      <% @solar_panels.each do |solar_panel| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="text-center">
              <% if solar_panel.user.facebook_picture_url %>
              <%= image_tag solar_panel.user.facebook_picture_url, class: "avatar-large" %>
              <% else %>
              <%= image_tag "avatar.png", {alt: "avatar img",class: "avatar-large"} %>
              <% end %>
            </div>
            <br>
            <div class="card-content-container text-left">
              <p><b><%=t('.producer')%></b>&nbsp;<span><%= solar_panel.user.first_name.capitalize + " " + solar_panel.user.last_name.capitalize %></span></p>
              <p><b><%=t('.address')%></b>&nbsp;<span><%= solar_panel.address %></span></p>
              <p><b><%=t('.production')%></b>&nbsp;<span><%= solar_panel.size || 0 %></span>&nbsp;kWh/<%=t('.hour')%></p>
              <p><b><%=t('.price')%></b>&nbsp;<span><%=t('.price_grid')%><%= solar_panel.price || 0 %>/kWh</span></p>
            </div>
            <br><br>
            <div class="text-center">
              <%= link_to(t('.details_link'), solar_panel_path(solar_panel), class: "navbar-wagon-button-orange" )%>

            </div>
          </div>
        </div>
      <% end %>
  <% end %>

<% end %>


<% if current_user.nil? %>
<%= link_to(t('.back_link'), root_path, class: "navbar-wagon-button-orange back-btn")%>
<% else %>
<%= link_to(t('.back_link'), dashboard_path, class: "navbar-wagon-button-orange back-btn")%>
<% end %>
