<h1><%= params[:street] %></h1>

<% if @solar_panels.empty? %>
  <p>Noone is selling in your street</p>
<% end %>

<% @solar_panels.each do |solar_panel| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
      <div class="text-center">
        <% if solar_panel.user.facebook_picture_url %>
            <%= image_tag solar_panel.user.facebook_picture_url, class: "avatar-large" %>
        <% else %>
          <%= image_tag "avatar.png", {alt: "avatar img",class: "avatar-large"} %>
        <% end %>
      </div>
      <hr>
      <div class="card-content-container text-left">
        <p><b>Owner :</b>&nbsp;<span><%= solar_panel.user.first_name.capitalize + " " + solar_panel.user.last_name.capitalize %></span></p>
        <p><b>Address :</b>&nbsp;<span><%= solar_panel.address %></span></p>
        <p><b>Production :</b>&nbsp;<span><%= solar_panel.size || 0 %></span>&nbsp;sol/hour</p>
        <p><b>Price :</b>&nbsp;<span>$<%= solar_panel.price || 0 %>/sol</span></p>
      </div>
      <hr>
      <%= link_to "Details", show_solar_panel_path(solar_panel), class: "btn card-bottom-button-full" %>
    </div>
  </div>
<% end %>

<%= link_to "Back", user_dashboard_path, class: "btn btn-default" %>
