<% @sidebar = true %>
<div class="row">
  <section class="col-xs-12 col-sm-7">
    <div class="card">
      <h3 class="text-center"><%=t('.first_title')%></h3>
      <div class="card-content-container">
        <div><span><p><%= t('.first_paragraph_1') %><strong><%= t('.first_paragraph_2') %></strong></p>
          <p><%= t('.second_paragraph') %></p> <p><%= t('.third_paragraph') %></p>
          <br>
        </span>
      </div>
    </div>
  </div>
</section>


<section class="col-xs-12 col-sm-4">
  <div class="card">
    <h3 class="text-center"><%=t('.suggested_option')%></h3>
    <br>

    <%= simple_form_for @solar_panel, url: {action: "create"} do |f| %>
      <div class="form-inputs text-left card-content-container">
        <%= f.input :size, required: true, autofocus: true,
        :input_html => { :value => 45},
        placeholder: "m2",
        label: "Size <a class='hover-link'>(?)</a><div class='hover-box'><span class='new-solar-form-box'>Please enter the size of you solar panel</span></div>".html_safe%>

        <%= f.input :price, required: true, autofocus: true,
        :input_html => { :value => 0.2},
        placeholder: "Price per kWh",
        label: "Discount from grid <a class='hover-link'>(?)</a><div class='hover-box'><span class='new-solar-form-box'>Discount from grid price (=0.12$/KWh)</span></div>".html_safe%>

        <div class="form-actions text-center">
          <%= (f.submit value: t('.seek_agreement'), class: "navbar-wagon-item navbar-wagon-button-orange")%>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="col-xs-12 col-sm-7">
  <div class="card">
    <h3 class="text-center"><%=t('.second_title')%></h3>
    <div class="card-content-container">
      <div><span><p><%= t('.fourth_paragraph') %></p> <p><%= t('.fifth_paragraph') %></p>
        <p><%= t('.sixth_paragraph') %></p>
        <br>
      </span>
    </div>
  </div>
</div>
