
<div class="text-center info-box card">
  <h3 class="text-center">Create your panel</h3>
  <br>
  <%= simple_form_for @solar_panel, url: {action: "create"} do |f| %>
  <div class="form-inputs text-left card-content-container">
    <%= f.input :size, required: true, autofocus: true, placeholder: "Size of panel" %>
    <%= f.input :price, required: true, autofocus: true, placeholder: "Price per sol", step: 0.01 %>
    <%= f.input :efficiency, required: true, autofocus: true, placeholder: "Efficiency", step: 0.01 %>
    <%= f.input :address, required: true, autofocus: true, placeholder: "address", :input_html => { :value => current_user.address }  %>
    <div class="form-actions text-center">
      <%= f.submit value: "Save Panel", class: "navbar-wagon-item navbar-wagon-button" %>
    </div>
  </div>
  <% end %>

</div>

<%= link_to "Back", user_dashboard_path, class: "navbar-wagon-button back-btn" %>
