
<div class="row">
  <section class="col-xs-12 col-sm-7">
    <div class="card">
      <h3 class="text-center">Becoming a solar producer</h3>
      <div class="card-content-container">
        <div><span><p>You are ready to become a producer. <strong>Congratulations!</strong></p>
        <p>No kidding, this is a huge step, with very significant investments. So before you decide to commit "in real life", Sunshine will help you simulate what it means.</p> <p>Better envision first the expected result before opening the wallet right?</p>
          <br>
        </span>
      </div>
    </div>
  </div>
</section>


<section class="col-xs-12 col-sm-4">
<div class="card">
    <h3 class="text-center">Our suggested option</h3>
    <br>

    <%= simple_form_for @solar_panel, url: {action: "create"} do |f| %>
    <div class="form-inputs text-left card-content-container">
      <%= f.input :size, required: true, autofocus: true,
          :input_html => { :value => 45},
          placeholder: "m2",
          label: "Size <div class='hover-link'>(?)</div><div class='hover-box'><span class='new-solar-form-box'>Please enter the size of you solar panel</span></div>".html_safe%>

      <%= f.input :price, required: true, autofocus: true,
          :input_html => { :value => 1.5},
          placeholder: "Price per sol", step: 0.01,
          label: "Size <div class='hover-link'>(?)</div><div class='hover-box'><span class='new-solar-form-box'>Please enter the price you want to receive for one KWh</span></div>".html_safe%>

      <div class="form-actions text-center">
        <%= f.submit value: "Test economics", class: "navbar-wagon-item navbar-wagon-button-orange" %>
      </div>
    </div>
    <% end %>
  </div>
</section>

<%= link_to "Back", user_dashboard_path, class: "navbar-wagon-button-orange back-btn" %>

