
<div class="row">
  <section class="col-xs-12 col-sm-7">
    <div class="card">
      <h3 class="text-center">Becoming a Solar Producer</h3>
      <div class="card-content-container">
        <div><span><p>You are ready to become a producer. <strong>Congratulations!</strong></p>
          <p>No kidding, this is a huge step, with very significant investments. So before you decide to commit "in real life", Sunshine will help you simulate what it means.</p> <p>Better envision first the expected result before opening the wallet, right?</p>
          <br>
        </span>
      </div>
    </div>
  </div>
</section>


<section class="col-xs-12 col-sm-4">
  <div class="card">
    <h3 class="text-center">Our suggested option</h3>
    <br>

    <%= simple_form_for @solar_panel, url: {action: "create"} do |f| %>
      <div class="form-inputs text-left card-content-container">
        <%= f.input :size, required: true, autofocus: true,
        :input_html => { :value => 45},
        placeholder: "m2",
        label: "Size <a class='hover-link'>(?)</a><div class='hover-box'><span class='new-solar-form-box'>Please enter the size of you solar panel</span></div>".html_safe%>

        <%= f.input :price, required: true, autofocus: true,
        :input_html => { :value => 0.2},
        placeholder: "Price per kWh",
        label: "Discount from grid <a class='hover-link'>(?)</a><div class='hover-box'><span class='new-solar-form-box'>Discount from grid price (=0.12$/KWh)</span></div>".html_safe%>

        <div class="form-actions text-center">
          <%= f.submit value: "Seek local agreements", class: "navbar-wagon-item navbar-wagon-button-orange" %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="col-xs-12 col-sm-7">
  <div class="card">
    <h3 class="text-center">Some tips and support</h3>
    <div class="card-content-container">
      <div><span><p>Sunshine also would like to support you with all the steps you would have to go through.</p> <p>Therefore we listed here the recommended sources to apply for grants. Nice of us no? :)</p>
        <p>We hope you will reditribute part of those benefits to your community throuh discounted solar energy!</p>
        <br>
      </span>
    </div>
  </div>
</div>

<%= link_to "Back", dashboard_path, class: "navbar-wagon-button-orange back-btn" %>
