<% @sidebar = true %>
<div class="row">
  <section class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="card text-center">

      <h3 class="text-center"><%=t('.title')%><%= @solar_panel.user.first_name.capitalize%></h3>
      <br>
      <% if @solar_panel.user.facebook_picture_url.nil?%>
      <%= image_tag "avatar.png", class: "avatar-large" %>
      <% else %>
      <%= image_tag @solar_panel.user.facebook_picture_url, class: "avatar-large"%>
      <% end %>

      <br>
      <br>

      <% if current_user.facebook_picture_url.nil?%>
        <%= image_tag "avatar.png", class: "avatar-large" %>
      <% else %>
        <%= image_tag current_user.facebook_picture_url, class: "avatar-large"%>
      <% end %>

      <div class="card-content-container">
        <br>
        <h3> This simulation will allow you to test local clean solar production!
        </h3>
        <br>
        <% if current_user %>
        <% if @solar_panel.user.id != current_user.id %>
        <%= link_to "Get Energy from #{@solar_panel.user.first_name} ", "#{contracts_path(@contract)}?sp_id=#{@solar_panel.id}", {method: :post, class: "navbar-wagon-item navbar-wagon-button-orange"} %>
        <% end %>
        <% else %>
        <%= link_to(t('.purchase'), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-button-orange") %>
        <% end %>
      </div>
    </div>
  </section>

</div>

<br>









