  <div><label>Id:&nbsp;</label><span><%= @solar_panel.id %></span></div>
  <div><label>Size:&nbsp;</label><span><%= @solar_panel.size %></span></div>
  <div><label>Efficiency:&nbsp;</label><span><%= @solar_panel.efficiency %></span></div>
  <div><label>Owner:&nbsp;</label><span><%= @solar_panel.user_id %></span></div>

  <br>

  <%= link_to "Purchase", new_solar_panel_contract_path(@solar_panel) %>
