<div class="row">
  <section class="col-xs-12 col-sm-7">
    <div class="card">
      <h3 class="text-center"><%= @solar_panel.user.first_name.capitalize + "'s panel"%></h3>
      <br>
      <div class="card-content-container">
        <div class="row">
          <div class="col-xs-6">Daily excess :</div>
          <div class="col-xs-6 orange-text"><b>120 Kwh</b></div>
        </div>
        <div class="row">
          <div class="col-xs-6">Your estimated daily usage :</div>
          <div class="col-xs-6 orange-text"><b>80 Kwh</b></div>
        </div>
        <div class="row">
          <div class="col-xs-6">Estimated coverage :</div>
          <div class="col-xs-6 orange-text"><b>20 Kwh</b></div>
        </div>
        <div class="row">
          <div class="col-xs-6">Listed price :</div>
          <div class="col-xs-6 orange-text"><b>$0.20 / Kwh</b></div>
        </div>
      </div>
    </div>
  </section>

  <section class="col-xs-12 col-sm-4">
    <div class="card">
      <h3 class="text-center">Owner details</h3>
      <br>
      <div class="text-center">
        <% if @solar_panel.user.facebook_picture_url %>
            <%= image_tag @solar_panel.user.facebook_picture_url, class: "avatar-large" %>
        <% else %>
          <%= image_tag "avatar.png", {alt: "avatar img",class: "avatar-large"} %>
        <% end %>
      </div>
      <br>
      <div class="card-content-container">
        <p class="text-center"><b><%= @solar_panel.user.first_name.capitalize + " " + @solar_panel.user.last_name.capitalize %></b></p>
        <br>
        <div class="row">
          <div class="col-xs-6">Reviews :&nbsp;</div>
          <b class="col-xs-6 orange-text text-center">
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
          </b>
      </div>
    </div>
  </section>
</div>

<br>


<% if current_user %>
  <% if @solar_panel.user.id != current_user.id %>
    <%= link_to "Purchase", "#{contracts_path(@contract)}?sp_id=#{@solar_panel.id}", {method: :post, class: "navbar-wagon-item navbar-wagon-button-orange"} %>
  <% end %>
  <%= link_to "Back", my_panel_path, class: "navbar-wagon-button-orange back-btn" %>
<% else %>
  <%= link_to "Purchase", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-button-orange" %>
  <%= link_to "Back", dashboard_path, class: "navbar-wagon-button-orange back-btn" %>
<% end %>






