<div class="row">
  <section class="col-xs-12 col-sm-10">
    <div class="card">
      <h3 class="text-center">You are about to enter in aggreemnt with <%= @solar_panel.user.first_name.capitalize %></h3>

      <div class="card-content-container">
      <br>
      <p> <%= @solar_panel.user.first_name.capitalize %> is willing to share excess of energy with you, when available.
      </p>
      <p> This simulation will allow you to test how much energy will now come from local clean solar production.
      </p>

      <br>
        <div class="row">
          <div class="col-xs-6">Daily excess :</div>
          <div class="col-xs-6 orange-text"><b>12 Kwh</b></div>
        </div>
        <div class="row">
          <div class="col-xs-6">Your estimated daily usage :</div>
          <div class="col-xs-6 orange-text"><b>80 Kwh</b></div>
        </div>
        <div class="row">
          <div class="col-xs-6">Estimated coverage :</div>
          <div class="col-xs-6 orange-text"><b>20 Kwh</b></div>
        </div>
        <div class="row">
          <div class="col-xs-6">Listed price :</div>
          <div class="col-xs-6 orange-text"><b>$0.12 (Grid) - $0.02 / Kwh</b></div>
        </div>
      </div>
    </div>
  </section>
</div>

<br>


<% if current_user %>
  <% if @solar_panel.user.id != current_user.id %>
    <%= link_to "Seal agreement with #{@solar_panel.user.first_name}", "#{contracts_path(@contract)}?sp_id=#{@solar_panel.id}", {method: :post, class: "navbar-wagon-item navbar-wagon-button-orange"} %>
  <% end %>
  <%= link_to "Back", my_panel_path, class: "navbar-wagon-button-orange back-btn" %>
<% else %>
  <%= link_to "Purchase", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-button-orange" %>
  <%= link_to "Back", dashboard_path, class: "navbar-wagon-button-orange back-btn" %>
<% end %>






