<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>SunShine</title>
  <link rel="logo" href="sunshine_logo.svg">
  <%= csrf_meta_tags %>


  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>

  <% if @homepage %>
    <%= yield %>
  <% else %>
    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container uncolapsible">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  <% end %>


  <%= javascript_include_tag 'application' %>
</body>
</html>
